[submodule "ppy_modules/@ppym/argschema"]
	path = ppy_modules/@ppym/argschema
	url = https://github.com/ppym/argschema.git
[submodule "ppy_modules/@ppym/semver"]
	path = ppy_modules/@ppym/semver
	url = https://github.com/ppym/semver.git
[submodule "ppy_modules/@ppym/ppym"]
	path = ppy_modules/@ppym/ppym
	url = https://github.com/ppym/ppym.git
[submodule "ppy_modules/@ppym/manifest"]
	path = ppy_modules/@ppym/manifest
	url = https://github.com/ppym/manifest.git
[submodule "ppy_modules/@ppym/refstring"]
	path = ppy_modules/@ppym/refstring
	url = https://github.com/ppym/refstring.git
