<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <div id="header">
      <ul class="nav">
        <li {{active(nav, 'index')}}><a href="{{ url_for('index') }}">upmpy.org</a></span>
        <li {{active(nav, 'browse')}}><a href="{{ url_for('browse') }}">Browse Packages</a></li>
      </ul>
      <div class="cl"></div>
    </div>
    <div id="content">
      {% block body %}
      {% endblock body %}
    </div>
  </body>
</html>
