{% extends "_template.html" %}
{% block body %}
  <h1>Build Python applications the <i>Node.js</i> way</h1>
  <p>
    <b><a href="https://github.com/NiklasRosenstein/upython">upython</a></b> is
    Python-loader engine that behaves similar to <i>Node.js</i>. It provides a
    <code>require()</code> that is used to load other upython packages. Packages
    can be installed with <b>upm</b>.
  </p>
  <h2>Register to upload Packages</h2>
  <p>
    You have to register an account using the <code>upm register</code> command
    on the command-line. Afterwards, you will receive a link to validate your
    e-mail address. From that point, you can upload packages to the registry.
  </p>
  <code><pre>$ uom dist
$ upm upload dist/mypackage-1.0.0.tar.gz</pre></code>
{% endblock body %}
