{% extends "_template.html" %}
{% block body %}
  <h1><span class="damp">Package</span> {{ package.name }}</h1>
  <p>
    Owned by <a href="{{ url_for('user', user=package.owner.name) }}">{{ package.owner.name }}</a>
    {% if version %}
      &ndash; Version: <a href="{{ url_for('package_version', package=package.name, version=version.version) }}">{{ version.version }}</a>
    {% endif %}
  </p>
  {% if version %}
    {% if version.readme %}
      <div class="package-readme">
        {{ version.readme|markdown }}
      </div>
    {% else %}
      <p>No package description provided.</p>
    {% endif %}
    <h2>Files</h2>
    {% for fn in version.files %}
      <p><a href="{{ url_for('download', package=package.name, version=version.version, filename=fn) }}">{{ fn }}</a></p>
    {% else %}
      <p>No files uploaded.</p>
    {% endfor %}
  {% else %}
    <p>No versions available.</p>
  {% endif %}
{% endblock body %}
